html {
  font-family: 'Roboto';
}

.mfb-component__button--main {
background-color: #00b6dd;
}
.titulos {
  color: #00b6dd;
}

h4 {
  text-align: center;
  color: #01314b;
}
.royal {
  background-color: #b2b2b2;
}

.material-icons {
  color: blue
  }


.input {
  border-radius: 10px;
  border: 1px solid black;
}

.logo {
  padding-top: 60px;
  width: 300px;
}

.botones {
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
}


.letramedicos {
  letter-spacing: 1.2px;
  color: #004266;
}

.item {
  border-style: none;
  color: #004266;
}

a.item {
  border-bottom: 2px solid #b2b2b2;
  color: #545353 !important;
}

.linea {
  border-bottom: 2px solid #c7c7c7;
}

.botones {
  padding: 0px 10px 0px 10px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {}
